<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnlockSoftwares.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UnlockSoftwares.My.MySettings>
            <setting name="SaveChemin" serializeAs="String">
                <value />
            </setting>
            <setting name="ValueDate" serializeAs="String">
                <value>2085-01-01</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value>20</value>
            </setting>
        </UnlockSoftwares.My.MySettings>
    </userSettings>
</configuration>